
/*----------------------------------------------   
--Vendor Prefix
-----------------------------------------------  */
@mixin prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
      -ms-#{$name}: #{$argument};
     -moz-#{$name}: #{$argument};
       -o-#{$name}: #{$argument};
          #{$name}: #{$argument};
}



/*----------------------------------------------   
--Microclearfix
-----------------------------------------------  */
@mixin cf() {
 & {
     *zoom: 1;
 }
 &:before,
 &:after {
     content: "";
     display: table;
 }
 &:after {
     clear: both;
 }
}

/*----------------------------------------------   
--Positioning
-----------------------------------------------  */
@mixin center {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

@mixin center-all {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


/*----------------------------------------------   
--Positioning - vert center
-----------------------------------------------  */
@mixin v-center{
  display: table;
  width: 100%;

  & > div{
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
  padding: 7% 0;
  }
  &.inner > *,
  &.inner > * {
    display: block;
    vertical-align: baseline;
  }
}

/* Absolute Center */
@mixin abs-center{
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

/* Simple Vert Center */
@mixin vcenter{
	position: relative;
	top: 50%;
	@include transform(translateY(-50%));
}
/* Simple Vert Center: abs */
@mixin abs-vcenter{
	position: absolute;
	top: 50%;
	@include transform(translateY(-50%));
}

/*----------------------------------------------   
--Paddings
-----------------------------------------------  */
$sect-headings: 1em 0;
$sect-content: 2em 0 3em; 
$sect-header: 5em 0 6em;
$pad-p: 0.25em 0 0.5em;
$sect-bigpad: 5em 0 7em;


/*----------------------------------------------   
--Links
-----------------------------------------------  */
@mixin link-light{
	a{
		color: #fff;
		@include transition(color .7s ease-in-out);
	}
	
	a:hover{
		color: $color-alpha;
		@include transition(color .7s ease-in-out);
	}
}

/*----------------------------------------------   
--Links
-----------------------------------------------  */
@mixin link-dark{
	a{
		color: $color-dark;
		@include transition(color .7s ease-in-out);
	}
	
	a:hover{
		color: $color-alpha;
		@include transition(color .7s ease-in-out);
	}
}
@mixin link-invert{
		color: $color-beta;
		@include transition(color .7s ease-in-out);
	
	&:hover{
		color: $color-alpha;
		@include transition(color .7s ease-in-out);
	}
}
@mixin link-grey{
	a{
		color: $color-grey;
		@include transition(color .7s ease-in-out);
	}
	
	a:hover{
		color: $color-alpha;
		@include transition(color .7s ease-in-out);
	}
}



/*----------------------------------------------   
--H1
-----------------------------------------------  */
@mixin font-h1{
	font-size: 1.75em;
	letter-spacing: 0.02em;
	
	@media (min-width: $mq-med) {
	  font-size: 2em;
	} 
	@media (min-width: $mq-xxlarge) {
	  font-size: 2.55em;
	}  
}


/*----------------------------------------------   
--H2
-----------------------------------------------  */
@mixin font-h2{
	font-size: 1.5em;
	letter-spacing: 0.02em;
	
	@media (min-width: $mq-med) {
	  font-size: 1.5em;
	} 
	@media (min-width: $mq-xxlarge) {
	  font-size: 2.2em;
	}  
}


/*----------------------------------------------   
--H3
-----------------------------------------------  */
@mixin font-h3{
	font-size: 1.35em;
	letter-spacing: 0.02em;
	
	@media (min-width: $mq-med) {
	  font-size: 1.5em;
	} 
	@media (min-width: $mq-xxlarge) {
	  font-size: 2em;
	}  
}

/*----------------------------------------------   
--H4
-----------------------------------------------  */
@mixin font-h4{
	font-size: 1.25em;
	letter-spacing: 0.02em;
	
	@media (min-width: $mq-med) {
	  font-size: 1.5em;
	} 
	@media (min-width: $mq-xxlarge) {
	  font-size: 1.7em;
	}  
}



/*----------------------------------------------   
--Font size: biggie
-----------------------------------------------  */

@mixin font-biggie{
	font-size: 1.7em;
	
	@media (min-width: $mq-med) {
	  font-size: 3em;
	} 
	@media (min-width: $mq-xxlarge) {
	  font-size: 3.5em;
	}  
}


/*----------------------------------------------   
--Font size: small
-----------------------------------------------  */
@mixin font-small{
	font-size: .7em;
	letter-spacing: 0.02em;
	margin: 0.1em auto 0.2em;
	
	@media (min-width: $mq-med) {
	  font-size: .8em;
	} 
	@media (min-width: $mq-xxlarge) {
	  font-size: .9em;
	}  
}

/*----------------------------------------------   
--Page Titles
-----------------------------------------------  */
@mixin title-page{
	font-family: $font-subheader;
  font-size: 2.2em;
  letter-spacing: 0.01em;
  text-align: center;
  
  @media (min-width: $mq-med) {
    font-size: 4em;
  } 

  @media (min-width: $mq-large) {
    font-size: 3.5em;
  } 
}

/*----------------------------------------------   
--Page Titles
-----------------------------------------------  */
@mixin title-text{
	font-size: 101%;

	@media (min-width: $mq-med) {
		font-size: 102%;
		padding-left: 10%;
		padding-right: 10%;
	}
	@media (min-width: $mq-large) {
		padding-left: 12%;
		padding-right: 12%;
	}
	@media (min-width: $mq-xxlarge) {
		font-size: 105%;
		padding-left: 14%;
		padding-right: 14%;
	}
}

/*----------------------------------------------   
--Inline Lists
-----------------------------------------------  */

@mixin list-inline{
		margin:	0;
		padding:	0;
		list-style:	none;
		display:	block;
		position:	relative;
	
	li, dd{
		display:	inline-block;
		vertical-align:	middle;
		margin-right:	1em;
		font-size:	1em;
		line-height:	1em;
		margin-left:	0;
		
		&.has-border{
			border-top:	1px solid #ddd;
			border-bottom:	1px solid #ddd;
		}
		
		li.current a{
			border-bottom:	2px solid $color-beta;
		}
		
		a{
			display:	block;
		}
	}
}

/*----------------------------------------------   
--Layouts: Grid - Semantic Cols
-----------------------------------------------  */
@mixin cols($num) {
	width: ($col * $num);
	min-height:1px;
	padding:$col-padding;
	position:relative;
	 @media (min-width: $mq-small) {
	 	float: left
	 }
	 
	 &:last-child {
	 	@media (min-width: $mq-small) {
	 		float: right;
	 	}
	}
}

/*----------------------------------------------   
--Layouts Grid - Table
-----------------------------------------------  */
@mixin t-row{
	display:	table;
	width:	100%;
	
	.t-col{
		display:	table-cell;
		vertical-align:	middle;
		table-layout:	fixed;
	}
}
@mixin t-col{
	display:	table-cell;
	vertical-align:	middle;
	table-layout:	fixed;
}

/*----------------------------------------------   
--Truncate
-----------------------------------------------  */
@mixin truncate{
	//max-width: 71%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*----------------------------------------------   
--overlay
-----------------------------------------------  */

@mixin overlay{
	&:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.6);
	z-index: -1;
	}
}


@mixin overlay-psedu{
	background: rgba(0,0,0,0.7);
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1;
}
