/*----------------------------------------------
-Grid 
-----------------------------------------------*/
%grid,
.grid {
  position: relative;
  width: 92%;
  max-width: $grid-max-width;
  display: block;
  margin-left: auto;
  margin-right: auto;
  //@include cf; 
  @media (min-width: $mq-med){
    width: 90%;
  }
}

/*----------------------------------------------
-FLex Grid
Apply if you want to use a flexbox grid instead
-----------------------------------------------*/
.grid--flex{
@media (min-width: $mq-med){
    display: flex;
  }
}
/*----------------------------------------------
-GRID : Add col padding if no cols
@deprecitated 
-----------------------------------------------*/
.grid--pad, .section.grid-lg{
  padding-left:   $grid-col-pad;
  padding-right:  $grid-col-pad;
}

/*----------------------------------------------
-GRID Sm
-----------------------------------------------*/
%grid-sm,
.grid-sm{
  @extend %grid;
  @media (min-width: $mq-med){
    max-width: $grid-max-width-sm;
  }
}

/*----------------------------------------------
-GRID Large
-----------------------------------------------*/
%grid-med,
.grid-med {
  @extend %grid;
  @media (min-width: $mq-large){
    max-width: $grid-max-width-med;
  }
}


/*----------------------------------------------
-GRID Large
-----------------------------------------------*/
%grid-lg,
.grid-lg {
  position: relative;
  width: 92%;
  max-width: $grid-max-width;
  display: block;
  margin-left: auto;
  margin-right: auto;
  @include cf; 
  @media (min-width: $mq-med){
    max-width: $grid-max-width-xl;
  }
  @media (min-width: $mq-xxlarge){
    max-width: $grid-max-width-lg;
  }  
}

/*----------------------------------------------
-GRID XL
-----------------------------------------------*/
.grid-xl,
.grid--xl {
  position: relative;
  width: 92%;
  max-width: $grid-max-width;
  display: block;
  margin-left: auto;
  margin-right: auto;
  @include cf; 
  @media (min-width: $mq-med){
    max-width: $grid-max-width-xl;
  }
}

/*----------------------------------------------
-GRID : Full Width
-----------------------------------------------*/
.grid-full, .grid--full {
  @extend .grid;
  width: 100%;
  max-width: 100%;
}

/*----------------------------------------------
-GRID : Full width Small
-----------------------------------------------*/
.grid--full-small{
  @media (max-width: $mq-med){
    width: 100%;
  }
}
/*----------------------------------------------
-Grid-Wrap - parent wrapper to apply on large up.
-----------------------------------------------*/
.grid-wrap{
  @media (min-width: $mq-xlarge){
    margin: 0 auto;
    max-width: $grid-max-width-xl;
  }
  @media (min-width: $mq-xxxlarge){
    margin: 0 auto;
    max-width: 90%;
  }
}
/*----------------------------------------------
-Grid: Columns
-----------------------------------------------*/
.grid__col { 
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  //padding-left: $grid-col-pad;
  padding-right: $grid-col-pad;

  &:last-of-type{
    padding-right: 0;
  }
}

/*----------------------------------------------
-Grid : Nested
-----------------------------------------------*/
.grid .grid__col + .grid{
  width: auto;
  max-width: none;
  min-width: 0;
  margin-left: -$grid-col-pad;
  margin-right: -$grid-col-pad;
}

/*----------------------------------------------   
-Grid Cols: XSmall (mobile)
-----------------------------------------------*/
@for $i from 1 through $grid-cols {
 //Columns "xsm-*"  
  %g-xsm-#{$i} {
    max-width: ((100 / $grid-cols) * $i) * 1%;
    flex-basis: ((100 / $grid-cols) * $i) * 1%;
  }
  .g-xsm-#{$i} {
    max-width: ((100 / $grid-cols) * $i) * 1%;
    flex-basis: ((100 / $grid-cols) * $i) * 1%;
  }
}
/*----------------------------------------------
-Grid Cols: Med
-----------------------------------------------*/
@media (min-width: $mq-med) {
  @for $i from 1 through $grid-cols {
    //Columns "g-*"  
    %g-#{$i} {
      max-width: ((100 / $grid-cols) * $i) * 1%;
      flex-basis: ((100 / $grid-cols) * $i) * 1%;
    }
    .g-#{$i} {
      max-width: ((100 / $grid-cols) * $i) * 1%;
      flex-basis: ((100 / $grid-cols) * $i) * 1%;
    }
    // Offsets "os-*"
    %g-offset-#{$i}{
      margin-left: ((100 / $grid-cols) * $i) * 1%;
    }
    .g-offset-#{$i}{
      margin-left: ((100 / $grid-cols) * $i) * 1%;
    }
  }
}