/*----------------------------------------------
-helpers-colors
@description: color helpers and color themes
-----------------------------------------------*/

/*----------------------------------------------   
--Selection
-----------------------------------------------  */
::selection {
  color: white;
  background: $color-alpha;
  text-shadow: none;
}

/*----------------------------------------------   
-bg color modifiers
-----------------------------------------------  */
.bg--dark{
  background-color: $color-dark;

  *{
    color: #fff;
  }
}

.bg--alpha{
  background-color: $color-alpha;
  
  *{
    color: #fff;
  }
  a{
    @include link-styles(#fff, rgba(255,255,255,0.5));
  }
}

/*----------------------------------------------   
-Color
-----------------------------------------------  */
.color-alpha{
  color: $color-alpha;
}
.color-beta{
  color: $color-beta;
}
.color-white{
  color: #fff;
}

/*----------------------------------------------   
-bg color modifiers
-----------------------------------------------  */
.bg--white{
  background-color: #fff;
}
.bg--lightgrey{
  background-color: $color-lightgrey;
}


/*----------------------------------------------   
-Dark Theme
-----------------------------------------------  */
.section--dark{
  background-color: $color-dark;

   h1,h2,h3,h4,h5,p,span, > i{
    color: #fff;
  }
  .sep{
    background-color: $color-light;
  }
  .btn{
    @extend .btn--white;
    color: $color-dark;
    span{
      color: $color-dark;
    }
  }
  a{
    @include link-styles(#fff, rgba(255,255,255,0.5));
  }
}

/*----------------------------------------------   
-Light Theme
-----------------------------------------------  */
.section--light{
  background-color: $color-lightgrey;

   h1,h2,h3,h4,h5,p{
    color: $color-dark;
  }
  %sep{
    background-color: $color-dark;
  }
  .btn{
    //@extend .btn--dark;
    span{
      //color: #fff;
    }
  }
}
