/*----------------------------------------------
--Helper/Utilites classes - Most common use cases
-----------------------------------------------*/

/*----------------------------------------------
--Clear Fix
-----------------------------------------------*/
.cf {
  @include cf;
}

/*----------------------------------------------
-Background Image Styles
-----------------------------------------------*/
.bg-img{
  @include bg-img-cover;
}

/*----------------------------------------------
-Paddings
-----------------------------------------------*/
.pad{
  padding: $pad 0; 
}
.pad-sm{
  padding: $pad-sm 0; 
}
.pad-lg{
  padding: $pad-lg 0;
}
