/*----------------------------------------------   
--Typography
-----------------------------------------------  */
body {
  font-family: $font-paragraph;
  color: $color-darkgrey;
  background: $color-light;
  line-height: $base-lineheight;
}

/*----------------------------------------------   
--Fluid body sizing
-----------------------------------------------  */
body {
font-size: 100%;
  
  @media (min-width: $mq-small) {
    font-size: 110%
  }
  @media (min-width: $mq-med) {
    font-size: 111%
  }
  @media (min-width: $mq-large) {
    font-size: 115%
  }
  @media (min-width: 75em) {
    font-size: 120%
  }
  @media (min-width: $mq-xlarge) {
    font-size: 135%
  }
  @media (min-width: $mq-xxlarge) {
    font-size: 145%
  }
  @media (min-width: $mq-xxxlarge) {
    font-size: 160%
  }
}

/*----------------------------------------------   
--H1 Theme
-----------------------------------------------  */
%font-h1{
  $fontSize: 3.5em;
  font-size: $fontSize - 1em; 
  line-height: 1;
  margin-bottom: 0.25em;

 @media (min-width: $mq-med) {
   font-size: $fontSize;  
 }
 @media (min-width: $mq-xlarge) {
   font-size: $fontSize + 0.25em;
 }  
}


/*----------------------------------------------   
--H2 Theme
-----------------------------------------------  */
%font-h2{
 $fontSize: 1.75em; 
 font-size: $fontSize;  
 line-height: 1.2;
 margin-bottom: 0.25em;

 @media (min-width: $mq-xlarge) {
   font-size: $fontSize + 0.25em;
 }  
}

/*----------------------------------------------   
--H3 Theme
-----------------------------------------------  */
%font-h3{
  $fontSize:1.5em;
 font-size: $fontSize;  
 line-height: 1.2;
 margin-bottom: 0.6em;

 @media (min-width: $mq-xlarge) {
   font-size: $fontSize + 0.25em;
 }  
}
/*----------------------------------------------   
--H4 Theme
-----------------------------------------------  */
%font-h4{
 $fontSize:1.2em; 
 font-size: $fontSize;  
 line-height: 1.4;
 margin-bottom: 0.5em;
 font-weight: 400;

 @media (min-width: $mq-xlarge) {
   font-size: $fontSize + 0.25em;
 }  
}

/*----------------------------------------------   
--H5 Theme
-----------------------------------------------  */
%font-h5{
  $fontSize:1em;
 font-size: $fontSize;  
 line-height: 1.4;
 margin-bottom: 0.4em;

 @media (min-width: $mq-xlarge) {
   font-size: $fontSize + 0.25em;
 }  
}
/*----------------------------------------------   
--Font- Header Theme
-----------------------------------------------  */
%font-header-theme{
  font-family: $font-header;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
/*----------------------------------------------   
--Headers
-----------------------------------------------  */
h1,h2,h3,h4,h5,h6{
  font-weight: 600;
  font-family: $font-header;
  text-rendering:optimizeLegibility; 
}

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{
  font-size:$font-small;
  line-height:0
}
/*----------------------------------------------   
--Headers
-----------------------------------------------  */
h1, .font-h1 {
 @extend %font-h1;
 @extend %font-header-theme;
}

h2, .font-h2 {
 @extend %font-h2;
}

h3, .font-h3 {
 @extend %font-h3;
}

h4, .font-h4 {
 @extend %font-h4;
}

h5, .font-h5 {
 @extend %font-h5;
}

/*----------------------------------------------   
--Font Lead Paragraph
-----------------------------------------------  */
%font-lead, .font-lead{
 font-size: 120%;
 -webkit-hyphens: none;
 -moz-hyphens: none;
 -ms-hyphens: none;
 hyphens: none;
 margin-bottom: 0.8em;
 line-height: 1.6;
 @media (min-width: $mq-med) {
   font-size: 130%;
 }
}

/*----------------------------------------------   
--Paragraph
-----------------------------------------------  */

p{
  margin-top: 0;
  margin-bottom: 0.75em;
}

p, small, em, ul, li{
  font-family: $font-paragraph;
}

ul, ol{
  margin: 0;
  padding:  0;
  
  li{
    margin-left:  1em;
  }
}

small{
  display:block;
  font-size: 80%;
  margin-bottom: 1em
}
/*----------------------------------------------   
--Misc
-----------------------------------------------  */
.bordered {
  @media (min-width: $mq-med) {
    border: 1px solid #fff;
    display: inline-block;
    padding: .2em .8em .325em;
    margin: 0;
  }
}

.subheader{
  font-size: 145%;
  line-height:1;
  font-weight:400;
  margin:.6em 0 -.1em;
}

.preheader {
  font-size: 90%;
  line-height: 1;
  color: $color-alpha;
  margin: 0;
  padding: 0;
  @media (min-width: $mq-med) {
  font-size: 100%;
  }
}

em{
  font-style: italic; 
}

.font-caps{
  text-transform: uppercase;
}
.font-capitalize{
  text-transform: capitalize;
}


/*--------------------------------------------------- 
Quotes
---------------------------------------------------  */
blockquote cite{display:block;font-size:2em;color:#555}
blockquote cite:before{content:"\2014 \0020"}
blockquote cite a,blockquote cite a:visited{color:#555}

q, blockquote {
  font-family: $font-paragraph;
  font-weight: 600;
  color: $color-alpha;
  text-align: center;
  font-style: normal;
  padding: .5em 0.5em;
  margin: 1em auto;
  line-height: 1.5;
  letter-spacing: inherit;
  font-size: 110%;
  @include font-rwd(1.15em, 1.7em, 2em, 2.1em)
}
q, blockquote {quotes: "“" "”" "‘" "’";}


blockquote.grid-breaking {
  font-size: 128%;
  border: 0;
  padding: 0;
  text-align: center;
  color: #999;

  @media (min-width: $mq-med) {
    font-size: 170%;
    margin: 1em -15%;
  }
}

/*--------------------------------------------------- 
VCards
---------------------------------------------------  */
.vcard{
	margin:	0 0 1em;
	span{
		display:	block;
	}
	.company{
		font-weight:	120%;
		font-weight:	600;
	}
}