/*----------------------------------------------   
--Blog  - archive
-----------------------------------------------  */
.blog{
	
/*----------------------------------------------   
--Sect-Posts
-----------------------------------------------  */	
	.sect-posts{
	
		article{
			border-bottom:	1px	solid	#bbb;
			overflow:	hidden;
			background-color:	$color-dark;
			
		.half{
			overflow:	hidden;
		}
		
		.has-bgimg{
			overflow:	hidden;
			position:	relative;
			z-index:	1;
			@include transition(all 1.6s ease);
			@include transform(scale(1));
			@include animation(fade-in ease-in-out .75s 1s both);
			background-color:	$color-dark;
			
			&.zoom{
				@include transition(all 33.6s ease);
				@include transform(scale(1.7));
			}
		}
	
		.has-content{
			background:	#fff;
			position:	relative;
			z-index:	3;
		}
		
		.post-meta{
			color:	#aaa;
			
				a{
					color:	$color-alpha;
				}
			}
		}
	}
}


/*----------------------------------------------   
--Blog - single
-----------------------------------------------  */

.single{

	a{
		color:	$color-alpha;
		
		&:hover{
			color:	darken($color-alpha, 20);
		}
	}
	#mast-bg{
		@include abs-bg;
	}


.post-content {
	max-width:	90%;
	margin:	0 auto;

	@media (min-width: $mq-med) {
		max-width:	70%;
	}
	@media (min-width: $mq-large) {
		max-width:	60%;
	}
	@media (min-width: $mq-xlarge) {
		max-width:	50%;
	}
	@media (min-width: $mq-xxxlarge) {
		max-width:	47%;
	}

	header{
		text-align:	center;
		margin:	1.5em 0 2em;
	
		h1{
			font-weight:	600;
			line-height:	1.3;
			margin-top:	1.5em;
			color:	$color-dark;
		}
		
		.post-meta-byline{
			font-family:	$font-header;
			color:	#aaa;
			@include font-h3;
			}
		}
	
		hr.sep{
			max-width:	25%;
			border-color:	#ddd;
			margin:	1em auto 2em;
		}
		
		h2, h3, h4{
			font-weight:	600;
		}
	
		p:first-of-type {
			font-size: 185%;
			font-weight: 400;
			-webkit-hyphens: none;
			-moz-hyphens: none;
			-ms-hyphens: none;
			hyphens: none;
			margin: 0.2em 0;
			line-height: 1.3;
		}
		
		

	.grid-breaking{
	
		@media (min-width: $mq-med) {
			margin-right: -6%;
			margin-left: -6%;
		}
	}

	figure{
		display:	block;
		@include center-all;
		
		img{
			margin-left: -10%;
			width: 100%;
			min-width: 120%;
		}
	}
}
/*----------------------------------------------   
--Post Single Footer
-----------------------------------------------  */
	footer.post-footer {
		margin: 2em auto 5em;
	
	.post-socials {
		padding-top:	 1em;
		padding-bottom:	.5em;
	
		.icon{
			font-size: 1.4em;
			margin-right: 0.4em;
		}
		
		a{
			color:	$color-alpha;
			
			&:hover{
				color:	$color-beta;
			}
		}
	}
	
	.post-footer-card {
		border-top: 1px solid $color-alpha; 
		display:	table;
		vertical-align:	top;
		width:	100%;
	}
	
	.post-footer-title {
		font-size: .6em !important;
		padding-top: 1em;
		padding-bottom: 3em; 
	}
	
	.post-footer-avatar {

		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
		float: right;
		margin: 3em 0em 4em 0; 
		font-size: .7em;
		max-width:	7em;
	
		@media (min-width: $mq-med) {
		float: left;
		margin: 0 1em 1em 0; 
		max-width:	10em;
		}
	}
	
	.post-footer-info{
		@media (min-width: $mq-med) {
			width: 80%;
			margin-left: 7em;
			margin-top:	0.5em;
		}
		
		p{
			line-height:	1.6;
		}
	
		h4 {
			margin: 0;
			color: $color-beta;
			font-weight: 600; 
			text-transform:	capitalize;
			
			a{
				color:	$color-beta;
			}
		}	
		
		a.link-arrow{
			font-size: $font-small; 
		}
		
		p{
			font-size:	95%;
			font-weight:	400;
			}
		}
	}
}

/*----------------------------------------------   
--Single: Post Nav
-----------------------------------------------  */
.post-nav{
@include center-all;

article{

a{
@include sect-banner;
@include overlay(#111, 0.2);
@include transition(all 0.4s ease);
min-height:	20em;
padding:	0;

&:after{
@include transition(all 1s ease);
}
.content{
padding:	0;

.meta-readnext{
font-size:	 1.3em;
font-style:	italic;
}

h3{
margin:	0 auto;
padding:	0;
}
}

&:hover{
@include overlay($color-alpha, 0.5);
@include transition(all 0.4s ease);

&:after{
@include transition(all 1s ease);
}
}

}
}
}
/*----------------------------------------------   
--Blog  - single - pagination
-----------------------------------------------  */

.pagination {
margin-bottom: 0;
width: auto;
text-align: left;

@media only screen and (max-width: $mq-med) {
display: none;
}

a, a:hover {
color: rgba(0, 0, 0, 0.3);
}

}

#older-nav a, 
#newer-nav a {
top: 54%;
@include transition(margin, 0.2s, ease-in-out);
position: fixed;
background: rgba(0, 0, 0, 0.05);
padding: 0.55em 0.5em 0.5em;
z-index: 10;
top: 44%;
width: 9em;
}

#newer-nav a {
right: -6.5em;
border-top-left-radius: 0.4em;
border-bottom-left-radius: 0.4em;

&:hover {
margin-right: 6em;
color: $color-alpha;
}
}

#older-nav a {
left: -6.7em;
border-top-right-radius: 0.4em;
border-bottom-right-radius: 0.4em;
float: left;
text-align: right;

&:hover {
margin-left: 6em;
color: $color-alpha;
}
}

.pagination .icon-chev-righ-2,
.pagination .icon-chev-left-2{
position: relative;
top: 2px;
}

.pagination-sep{
display: none;
}