/*----------------------------------------------   
-Masthead/Banner Theme
-----------------------------------------------  */
%banner-theme{
  position: relative;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: $color-dark;
  color: white;
  overflow: hidden;
  @include v-center;
  @include overlay();

   &.is-attached{
    @media(min-width: $mq-med){
      background-attachment: fixed;
    }
  }

 br{
  display: none;
  
  @media (min-width: $mq-small) {
   display: block;
  }
 }
}

/*----------------------------------------------   
--Banners - sections with full width background images
-----------------------------------------------  */
.section-mast{
  background-image: url(../images/mast-bg-sm.jpg);
  @extend %banner-theme;

  @include overlay-gradient();
  height: 40em;

  .vcenter{
    //padding: 14% 0 5%;
  }

  @media (min-width: $mq-med){
    background-image: url(../images/mast-bg-mask.jpg);
  }
}
