section{
  z-index: 3;
  position: relative;
  background-color: #fff;
}

/*----------------------------------------------   
--Sect: content (basic repeatable content regions)
-----------------------------------------------  */
.section-content, .section--padding {
  padding: 4em 0;

  &.no-top{
    padding-top: 0;
  }
  &.no-bottom{
    padding-bottom: 0;
  }
}

/*----------------------------------------------   
--Sect: Intro (intro sections)
-----------------------------------------------  */
.section-intro{
  padding: 4em 0;
  .cols{
    //@include centered;
  }
}

/*--------- -------------------------------------   
--Modifier: CTA Button rows
-----------------------------------------------  */
.has-btn{
  @include center-all;
  padding: 3em 0 1em;
}

/*----------------------------------------------   
-Sect - Video Banners
-----------------------------------------------  */
.bg-vid {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: 50% 50% no-repeat;
  opacity: 0.2;
  opacity: 1;
  filter: alpha(opacity=20);
  background-size: auto 200%;
  overflow: hidden;

  @media (min-width: $mq-med) {
    background-size: cover;
  }
  & > video {
    position: absolute !important;
    top: 0 !important;
  }
}

/*----------------------------------------------   
-Plax
-----------------------------------------------  */
.js-plax{
  @media (min-width: $mq-med){
    background-attachemnt: fixed;
    background-position: top 50%;
    @include engine3d;
  }
}

